.note{
    font-size: 15px;
    color:black;
}

.heading{
    font-size: 23px;
    margin:0px;
    box-shadow: 5px 5px 40px mediumaquamarine;
    width:100%;
}

.copy_right{
    width:100%;
    line-height: 30px;
    text-align: center;
    color:white;
    background-color: grey;
    bottom:0;
    position: fixed;
}

canvas{
border-radius: 30px;
animation-name: styling;
animation-duration: 3s;
animation-iteration-count: infinite;

}

@keyframes styling {
    from{
        box-shadow: 5px 5px 50px slateblue;
        border:5px solid burlywood;

    }
    to{
        box-shadow: 10px 10px 100px rosybrown;
        border:15px ridge seagreen;

    }
}

